<div class="modal-header">
	<h3>Change password</h3>
</div>
<div class="modal-body">
	<div class="alert alert-danger" ng-if="c.passwordError">
		<p ng-repeat="error in c.errors">{{error.message}}</p>
	</div>
	<div class="well">
		<form ng-submit="c.changePassword()" name="form.passwordForm">
			<div class="form-group" 
				ng-class="{'has-error': form.passwordForm.oldPassword.$invalid && form.passwordForm.oldPassword.$dirty}">
				<label for="oldPassword">Old password</label>
				<div class="input-group">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-lock"></span>
					</span> <input class="form-control" type="password" id="oldPassword" name="oldPassword"
						ng-model="c.passwordData.oldPassword" required placeholder="Enter old password">
				</div>                     
                 <p class="help-block" ng-show="form.passwordForm.oldPassword.$error.required 
                   	&& form.passwordForm.oldPassword.$dirty">                    
                 	Password may not be empty                        
                 </p>                   
			</div>
			<div class="form-group" 
				ng-class="{'has-error': form.passwordForm.newPassword.$invalid && form.passwordForm.newPassword.$dirty}">
				<label for="newPassword">New password</label>
				<div class="input-group">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-lock"></span>
					</span> <input class="form-control" type="password" id="newPassword" name="newPassword"
						ng-model="c.passwordData.newPassword" required ng-minlength="3" ng-maxlength="50"
						placeholder="Enter new password">
				</div>
				<p class="help-block" ng-show="form.passwordForm.newPassword.$error.minlength">
				 	Password is too short
				 </p>                     
                 <p class="help-block" ng-show="form.passwordForm.newPassword.$error.required 
                   	&& form.passwordForm.newPassword.$dirty">                    
                 	Password may not be empty                        
                 </p>                   
                 <p class="help-block" ng-show="form.passwordForm.newPassword.$error.maxlength">
                 	Password is too long
                 </p>
			</div>
			<div class="form-group" 
				ng-class="{'has-error': form.passwordForm.confirmNewPassword.$invalid 
				&& form.passwordForm.confirmNewPassword.$dirty}">
				<label for="confirmNewPassword">Confirm password</label>
				<div class="input-group">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-lock"></span>
					</span> <input class="form-control" type="password" id="confirmNewPassword" name="confirmNewPassword"
						ng-model="c.passwordData.confirmNewPassword" required compare-to="c.passwordData.newPassword"
						placeholder="Confirm your password">
				</div>
			<p class="help-block" ng-show="form.passwordForm.confirmNewPassword.$error.compareTo &&
				!form.passwordForm.confirmNewPassword.$error.required">
				Must match to previous entry
			</p>
			<p class="help-block" ng-show="form.passwordForm.confirmNewPassword.$error.required &&
				form.passwordForm.confirmNewPassword.$dirty">
				Confirm password may not be empty
			</p>
			</div>
			<br/>
			<div class="form-group">
				<input type="submit" value="Submit"
					class="btn btn-success btn-block" ng-disabled="form.passwordForm.$invalid">
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<p>
		<button class="btn btn-default" ng-click="c.cancel()">Cancel</button>
	</p>
</div>