<div >
<div class="modal-header">
	<h3>Login to <img src="/images/logo-nav.png" height="30" alt="messenger"></h3>
</div>
<div class="modal-body">
	<div class="row">
		<div ng-if="c.error" class="alert alert-danger">
			<p>An error occured. Please try again.</p>
		</div>
		<div class="col-sm-6">
			<div class="well">
				<p>Type your username and password:</p>
				<form ng-submit="c.login()">
					<div class="form-group">
						<input class="form-control" type="text"
							ng-model="c.credentials.username" placeholder="username">
					</div>
					<div class="form-group">
						<input class="form-control" type="password"
							ng-model="c.credentials.password" placeholder="password">
					</div>
					<div class="form-group">
						<input type="submit" ng-show="false">
						<button class="btn btn-primary btn-block" ng-click="c.login()">Login</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-sm-6 login-column">

			<div class="well login-column">
				<div class="alert alert-info">
					<p>Try the default accounts:</p>
					<ul>
						<li>Admin (admin:admin)</li> 
						<li>User (user:user)</li>
					</ul>
					<p>or</p>
				</div>
				<p>
					<button class="btn btn-block btn-success" ng-click="c.change()">Register
						now</button>
				</p>
			</div>

		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="c.cancel()">Cancel</button>
</div>
</div>